#define SIDEBYSIDE_COMMONCONTROLS 1
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define CONTROL_PANEL_RESOURCE_ID 123
#define RT_MANIFEST 24

#define _WIN32_IE 0x0501

104     ICON    DISCARDABLE Res\setup.ico
111     BITMAP  DISCARDABLE Res\watermark.bmp
112     BITMAP  DISCARDABLE Res\header.bmp

#include <res\ConsoleDlg.rc>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "res\manifest"
#define VERINF1 1
VERINF1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "1.0.1\0"
      VALUE "ProductVersion", "1.0.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
